<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>

    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
     }

</style>

<body>

  <div class="layout">
    <table>
      <thead>
        <tr>
          <th>글 번호</th>
          <th>제목</th>
      </thead>
      <tbody>
        <tr th:each="board : ${list}">
          <td th:text="${board.id}">1</td>
          <td th:text="${board.title}">
          <td>
            <a th:href="@{/board/view(id=${board.id})}" th:text="${board.title}">제목입니다</a>
          </td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>